<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <header> <h1>Welcome to my page.</h1></header>
        <main>Content Goes Here</main>
        <main><%- include(page)%></main>
        <footer>
            &copy 2018 401n7
        </footer>
    </body>
</html>